@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap');

:root {
	--ff-monospace: 'Fira Mono', 'Courier New', monospace;
	--bg-card: white;
}

html, body {
	background: white;
	margin: 0;
	font-family: system-ui,-apple-system,"Segoe UI","Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol",FontAwesome,"Noto Color Emoji";
	font-size: 1rem;
	font-variant-numeric: tabular-nums;
}

/* scrolling behavior, especially for modals */
html {
	overflow-y: scroll;
	scrollbar-width: none;
	-ms-overflow-style: none;
}

html::-webkit-scrollbar {
	display: none;
}

html.dummy-scrollbar {
	scrollbar-width: initial;
	-ms-overflow-style: initial;
}

html.dummy-scrollbar::-webkit-scrollbar {
	display: initial;
}

body {
	overflow-y: scroll;
}

body.noscroll {
	overflow-y: hidden;
}

main {
	position: relative;
}

/* common controls */
h1 {
	font-size: calc(1.375rem + 1.5vw);
	margin-top: 0;
	font-weight: 600;
}

.modalbtn {
	border: none;
	padding: 6px 12px;
	font-size: var(--alert-font-size);
	min-width: 4rem;
	background: #dcdcdc;
	border-radius: 6px;
	transition: background 0.1s;
}

.modalbtn:hover {
	background: #aeaeae;
}

.modalbtn:active, .modalbtn:focus {
	background: #808080;
}

.card {
	padding: 12px;
	border-radius: 16px;
	box-shadow: 1px 5px 17px #00000026, 0px 5px 7px #00000045;
	background: var(--bg-card);
}

.visibilityHidden {
	visibility: hidden;
}
